@{
    ViewBag.Title = "Customer Dashboard";
}

<main>
    <div class="row mt-4">
        <!-- E-Transfer -->
        <section class="col-md-4">
            <h2>E-Transfer</h2>
            <p>Send, request, and gift money online.</p>
            <p><a class="btn btn-outline-warning" href="/etransfer/index">Go to E-Transfer &raquo;</a></p>
        </section>

        <!-- Transfer Money -->
        <section class="col-md-4">
            <h2>Transfer Money</h2>
            <p>Transfer funds between chequing and savings accounts.</p>
            <p><a class="btn btn-outline-warning" href="/transfer/index">Go to Transfer Page &raquo;</a></p>
        </section>

        <!-- Cheque Upload -->
        <section class="col-md-4">
            <h2>Deposit Cheque</h2>
            <p>Upload a cheque and deposit funds to your account.</p>
            <p><a class="btn btn-outline-warning" href="/cheque/upload">Upload Cheque &raquo;</a></p>
        </section>
        <!-- Pending Requests -->
        <section class="col-md-3">
            <h2>Pending Requests</h2>
            <p>Review and respond to pending money requests.</p>
            <p><a class="btn btn-outline-warning" href="/etransfer/pendingrequests">View Requests &raquo;</a></p>
        </section>
    </div>
</main>
