@{
    ViewBag.Title = "Transfer Success";
}

<h2>Transfer Successful!</h2>
<p>Your funds have been transferred successfully.</p>
<a href="@Url.Action("Index", "Transfer")" class="btn btn-primary">Make Another Transfer</a>

